@import url("https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap");

.logo {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--logo-color);
}